@model IEnumerable<Zacharias_FictionalCustomers.Models.AssignedProject>

@{
    ViewData["Title"] = "Index";
}

<h1>Assigned Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EmpNameParm"]">@Html.DisplayNameFor(model => model.Employee.Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CompNameParm"]">@Html.DisplayNameFor(model => model.CompanyName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CompAdressParm"]">@Html.DisplayNameFor(model => model.Companyaddress)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TaskParm"]">@Html.DisplayNameFor(model => model.Task)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateParm"]">@Html.DisplayNameFor(model => model.Date)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Companyaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
